{% extends 'base.html' %}
{% block content %}
    <h2 style="text-align:center; margin: 35px;">Excluir Modelo</h2>
    <div class="container">
        <form class="form-block my-2 my-lg-0 ml-lg-4"
        action="{{ url_for('delete_modelo') }}" method="post">
          <div class="mb-3">
              <label class="form-label">Nome</label>
              <input name="nome"
              value=""
              class="form-control mr-sm-2"
              type="text"  
              placeholder="Nome"
              aria-label="Nome">
          </div>
          <div style="text-align:center">
            <button type="submit" class="btn btn-primary mb-3 btn-lg">Excluir</button>
          </div>
        </form>
    </div>
{% endblock  %}